/* Hide scrollbar for Chrome, Safari and Opera */
.entryList::-webkit-scrollbar {
    display: none;
    background-color: red !important;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.entryList {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}